extends ../layout
block content
  h1.text-xl.font-bold.mb-8= title
  if (items.length)
    ul.ml-4
      each item in items
        li.mb-4
          div.flex.justify-between
          a.text-lg.mb-2.underline(href=item.url)= item.name
          p.text-md  !{item.price} $
  else
    p No items!
