extends layout

block content
  h1.text-2xl.font-bold.mb-8 Sheeva Boards
  p.mb-4 Tired of spending hundreds of dollars for a custom keyboard? Look no further!
  p.mb-4 At Sheeva Labs, we buy budget keyboards and modify them with nearly all mods available. We lube the Switches and Stabilizers, pour silicon in the case, tape the PCB, add foam between case and PCB as well as PCB and switches, clip the stabilizers, put band aid in the stabilizers, and if you want, we can also install custom keycaps and O-rings.
  p.mb-4 We have a variety of budget keyboards available. Once you decide to buy a keyboard from us, we will start to modify it and send you pictures of the process. We will also send you a typing test video so you can see how the keyboard sounds.
  p.mb-4 Interested? Feel free to browse our categories and items. If you have any questions, feel free to contact us.
