doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // delete before go to prod
    script(src="https://cdn.tailwindcss.com")
    link(href="/stylesheets/styles.css", rel="stylesheet")
  body.w-screen.h-screen.bg-gray-100.grid.place-items-center
    div(class="flex flex-col bg-white shadow-xl h-full max-w-5xl w-full")
      div.flex.justify-center.items-center.h-16.gap-4.bg-black.text-white
        a(href="/" class=currentRoute === "/" ? "font-bold underline decoration-2": "") Home
        a(href="/items" class=currentRoute === "/items" ? "font-bold underline decoration-2" : "") Items
        a(href="/categories" class=currentRoute === "/categories" ? "font-bold underline decoration-2" : "") Categories
      div(class="p-4 h-full overflow-y-auto")
        block content

